<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>尚牛在线</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <link href="./public/static/home/css/mui.min.css" rel="stylesheet" />
    <link href="./public/static/home/css/moblie/login.css" rel="stylesheet" />
    <style>
        .red{
            color: red;
        }
    </style>
</head>
<!--登录-->
<body class="reg_body">
<!--标题-->
<header class="ml_header mui-bar mui-bar-nav">
    <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
    <h1 class="mui-title">财经资讯</h1>
</header>
<!--主体-->
<div class="mui-content" style="margin: 10px 20px 0;">
{if !empty($res)}
    <ul>
        {volist name="res" id ="vo" }
        <li>
            <div class="item clearfix">
                <a class="get_onclik" id="get_onclik_{$vo.id}">
                    <div class="img_box">
                        <img src="/public/static/admin/img/avatar.jpg" alt="">
                    </div>
                    <div class="right_cont">
                        <div class="cont_title">{$vo.title}</div>
                        <div class="time_box">{$vo.createTime}</div>
                    </div>
                </a>
            </div>
        </li>
        {/volist}
    </ul>
    {/if}

</div>
{$res->render()}



<script src="./public/static/libs/jquery-2.2.0/jquery-2.2.0.min.js"></script>
<script src="./public/static/home/js/moblie/mui.min.js"></script>
<script src="./public/static/home/js/moblie/reg.js"></script>
<script >
    $(".get_onclik").click(function () {
        var article_id = $(this)[0].id.split('_')[2];
       
        $.ajax({
            type:'POST',
            url:'{:url("index/index/new_id")}',
            dataType: 'json',
            data:{
                "article_id":article_id
            },
            success: function(data){
                console.log(data);
                window.location.href="{:url('index/index/news_t')}";
            },
            error:function(data) {
                console.log("获取失败");
            },
        });

    });



</script>
</body>
</html>